mule/.tooling-project/cached/project-mule/implementation-get-history.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<sub-flow name="implementation-get-history-main" doc:id="b56fb690-0f14-49b3-a024-7f326a5940c7" >
		<flow-ref doc:name="Flow Reference" doc:id="be8db970-43b0-49cb-8dab-a5786cfc7cc5" name="implementation-get-history-select"/>
	</sub-flow>
	<flow name="implementation-get-history-select" doc:id="efc5abf1-9e17-406b-818b-da3034d1c60e" >
		<logger level="INFO" message="#[payload]" />
		<db:select doc:name="Get Accont-Id"
			doc:id="2cd89b64-4c24-4e3c-9f53-c2f18dec28b7"
			config-ref="Database_Config">
			<db:sql><![CDATA[select account_id from mule_account where account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	account_number: vars.account_number
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger"
			doc:id="f68ef773-4f61-447d-bef8-3950891cd567"
			message="#[payload.account_id]" />
		<db:select doc:name="Get History" doc:id="7d81c48f-4849-4a62-9d48-9951d8168439" config-ref="Database_Config">
			<db:sql><![CDATA[		SELECT
        t.*,
        a.name,
        a.balance,
        a.account_number
        FROM mule_transaction t
        JOIN mule_account a ON
        t.account_id = a.account_id
        WHERE t.account_id = :account_id
        AND DATE(t.date_transaction)
        BETWEEN :startDate AND :endDate
        ORDER BY t.date_transaction DESC;]]></db:sql>
			<db:input-parameters><![CDATA[#[{
    account_id: payload[0].account_id,
    startDate: vars.startDate,
    endDate: vars.endDate
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="6ec8874b-ac08-4223-9eae-9b29c6990189" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b983c757-5b48-421c-aecb-5dd5fe3929c4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Numero da conta": payload[0].account_number,
	"Nome": payload[0].name,
	"Saldo": payload[0].balance,
	"Transações": payload map (item) -> {
		"Data": item.date_transaction as String {format: "dd-MM-yyyy"},
		"Horas": item.date_transaction as String {format: "HH:mm:ss"},    
	    "Tipo de transação": item.types,
	    "Valor": item.amount
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
</mule>
