mule/src/main/mule/api/implementation-get-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<sub-flow name="implementation-get-accounts-main"
		doc:id="6eaba440-373a-4c97-a468-a497deed9395">
		<flow-ref doc:name="implementation-get-accounts-publish"
			doc:id="d31592fa-ad35-403c-8c9a-3f960b9c3c05"
			name="implementation-get-accounts-publish" />
		<flow-ref doc:name="implementation-get-accounts-consumer"
			doc:id="1e7e85a0-6b00-42ac-968e-00ba78f18e62"
			name="implementation-get-accounts-consumer" />
	</sub-flow>
	<flow name="implementation-get-accounts-publish"
		doc:id="07e33c80-c00b-4ef9-a068-99293868a81c">
		<logger level="INFO" doc:name="Payload"
			doc:id="ce8e2a5e-8c19-4bcf-bfbf-47cea0d57ba3" message="#[payload]" />
		<db:select doc:name="Select Limit and OffSet"
			doc:id="754748c7-a493-451d-b978-19e9d3f8e788"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT
 u.cpf,
 u.name,
 a.account_number,
 a.digit,
 a.account_type
FROM users u
JOIN mule_account a ON u.user_id = a.user_id   
LIMIT :size OFFSET :page]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'size': vars.size,
	'page': vars.page
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Payload"
			doc:id="2cf27c16-824e-46fd-a15d-6da7444c8604" message="#[payload]" />
		<ee:transform doc:name="Transform Message"
			doc:id="e4137268-3480-4bdb-9c39-c93f467b6b2f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish-stg-mule"
			doc:id="53cb0669-7f17-470c-a57a-f5aff8152000" config-ref="JMS_Config"
			destination="stg-mule" />
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="045d6738-b450-49be-8127-41395162d4be" type="ANY">
				<logger level="INFO" doc:name="error"
					doc:id="5ca882ac-0216-4cca-8775-f73cd2a58727" message="#[error]" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="implementation-get-accounts-consumer"
		doc:id="c48b32c0-cdc2-49e5-adb2-6a91211781e1">
		<set-payload value="#[null]" doc:name="null"
			doc:id="2d510897-ec24-4dea-884d-c7fecd728f9b" />
		<logger level="INFO" doc:name="Payload"
			doc:id="32522c5f-b160-42bd-b3dd-5aa7c1a4520b" message="#[payload]" />
		<jms:consume doc:name="Consume-stg-mule"
			doc:id="71ff84a8-6b01-452e-a996-7b72400b11aa" config-ref="JMS_Config"
			destination="stg-mule" maximumWait="30000" />
		<logger level="INFO" doc:name="Payload" doc:id="7e76a303-942e-4c1b-9ccb-afb6f4cf680b" message="#[payload]" />
		<ee:transform doc:name="Transform Message"
			doc:id="1b65e1e6-8006-4033-ae30-58819adfe2cb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "pagination": {
        "currentPage": vars.page,
        "pageSize": vars.size
    },
    "data": payload map (item) -> {
        "Numero da conta": item.account_number,
        "Digito": item.digit,
        "Tipo de conta": item.account_type,
        "Nome": item.name,
//        "Link": "http://localhost:8081/mule/v2/accounts/" ++ item.account_number ++ "/balance"		
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="75f3f6d5-a44b-4d70-9f91-7b121bd28294" type="ANY">
				<logger level="INFO" doc:name="Error"
					doc:id="0f199302-2778-402c-8f08-519f2a0c39d2" message="#[error]" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>