mule/src/main/mule/api/implementation-post-deposit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementation-post-deposit-main"
		doc:id="3f3b10e3-6bb6-4624-938c-408d6fbaa9d0">
		<flow-ref doc:name="Flow Reference"
			doc:id="f0384227-82b0-497e-9ae2-0a1fe2fa0d82"
			name="implementation-post-deposit-insert" />
			<error-handler>
			<on-error-propagate type="ANY">
				<set-variable variableName="customErrorMessage"
					value="#[error.description]" />
				<logger level="ERROR"
					message="#['Erro encontrado: ' ++ vars.customErrorMessage]" />
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': vars.customErrorMessage default 'Erro desconhecido'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-post-deposit-insert"
		doc:id="82b8bd5f-6387-4dcb-8084-3b3bd462aa10">
		<logger level="INFO" doc:name="Logger"
			message="URI Params: #[attributes.uriParams]" />
		<flow-ref doc:name="Validate Account Number" doc:id="4a716575-31b0-4871-870d-7f6100690762" name="validate-account-number"/>
		<db:select doc:name="Select" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT account_id FROM mule_account WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{'account_number': vars.account_number}]]]></db:input-parameters>
		</db:select>
		<set-variable variableName="accountId"
			value="#[payload[0].account_id]" doc:name="Set Variable" />
		<logger level="INFO" doc:name="Logger"
			message="#['Account ID': vars.account_id]" />
		<db:insert doc:name="Insert" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO mule_transaction (account_id, types, amount, date_transaction) VALUES (:account_id, :types, :amount, NOW())]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
output application/json
---
{
	'account_id': vars.accountId,
	'types': 'DEPOSIT',
	'amount': vars.depositValue
}]]]></db:input-parameters>
		</db:insert>
		<db:update doc:name="Update balance"
			config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE mule_account SET balance = balance + :depositAmount WHERE account_id = :accountId]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
output application/json
---
{
    'depositAmount': vars.depositValue,
    'accountId': vars.accountId
}]]]></db:input-parameters>
		</db:update>
		<set-variable variableName="transactionSuccess"
			value="#[true]" doc:name="Set transactionSuccess" />
		<logger level="DEBUG"
			message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"Account ID": vars.accountId,&#10;	"Deposit Value": vars.depositValue&#10;}]'
			doc:name="After Insertion" />
		<choice doc:name="Choice"
			doc:id="19c77201-17f8-4e98-a80c-240844084e1e">
			<when expression="#[vars.transactionSuccess == true]">
				<ee:transform doc:name="Transform Message"
					doc:id="ca58050a-933c-4977-855e-e583515560eb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "Status": "success",
    "Mensagem": "Depósito realizado com sucesso"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message"
					doc:id="3df6c2b8-b8a3-4c22-a90c-97191edc9f5e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "Status": "error",
	"Message": "O depósito não pôde ser concluído"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
