mule/src/main/mule/api/implementation-post-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="implementation-post-account-main"
		doc:id="bf382346-63e6-458b-a554-71b50b1b8a96">
		<flow-ref
			doc:name="implementation-post-created-account-publish"
			doc:id="3f61490d-152c-48d1-b723-0b1934408d05"
			name="implementation-post-created-account-publish" />
		<flow-ref
			doc:name="implementation-post-created-account-consumer"
			doc:id="8a60ace5-71fb-4453-8cb8-05c37fe3b799"
			name="implementation-post-created-account-consumer" />
		<error-handler>
			<on-error-propagate type="ANY">
				<set-variable variableName="customErrorMessage"
					value="#[error.description]" doc:name="customErrorMessage" />
				<logger level="ERROR"
					message="#['Erro encontrado: ' ++ vars.customErrorMessage]"
					doc:name="CustomErrorMessage" />
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': vars.customErrorMessage default 'Erro desconhecido'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-post-created-account-publish"
		doc:id="e1ebdecd-16fa-4d37-ada7-20f8f49d69dc">
		<logger level="INFO" doc:name="Logger init post-accounts" doc:id="8ed4891f-bd0a-4407-9d2e-403fb24dc7dc" message="init post-accounts"/>
		<flow-ref doc:name="clean-cpf"
			doc:id="146f0914-9e53-4921-8e77-8765041ef5e2" name="clean-cpf" />
		<logger level="INFO" doc:name="payload" doc:id="1f269e15-4673-4642-89ef-0a8456ca6616" message="#[payload]"/>
		<set-variable doc:name="createdAccount"
			doc:id="c108908b-1a74-4be7-bfbd-7e9944e7a370"
			variableName="createdAccount" value="#[payload]" />
		<db:select doc:name="Select User"
			doc:id="1d615967-8429-4905-8cb3-6614ae759316"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT user_id, name FROM users WHERE cpf = :cpf;
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	cpf: vars.createdAccount.cpf
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload.name]" doc:name="getUser" doc:id="dfde1c1b-e11f-44d8-9390-bc9116d206db" variableName="getUser"/>
		<logger level="INFO" doc:name="payload" doc:id="05158688-65e3-4c58-b3d2-b34b30842ab6" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="4ef2db31-6648-4913-9ddb-0d35de9c2d26" >
			<when expression="#[vars.getUser != null]">
				<ee:transform doc:name="Transform Message" doc:id="0de5158a-4e0d-4210-b499-5c6c97aa1b81">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="createdAccount"><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name[0],
	user_id: payload.user_id[0],
	account_type: vars.createdAccount.account_type,
    cpf: vars.createdAccount.cpf	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<set-variable value="#[payload]" doc:name="users" doc:id="f1ee859d-9483-4a3d-9afa-aee4429d8671" variableName="users" />
				<logger level="INFO" doc:name="payload" doc:id="e2bc7947-12b1-455c-b9eb-07aa4bad01d0" message="#[payload]" />
				<db:select doc:name="exists account" doc:id="e0d0bb86-1d03-4ecf-ac22-3cbbe4947531" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT EXISTS (SELECT 1 FROM mule_account
 WHERE user_id = :user_id AND account_type = :account_type)]]></db:sql>
			<db:input-parameters><![CDATA[#[{	
	user_id: vars.createdAccount.user_id,
	account_type: vars.createdAccount.account_type
}]]]></db:input-parameters>
		</db:select>
				<logger level="INFO" doc:name="payload" doc:id="60671d05-98ff-4eb1-82da-f908dd494412" message="#[payload]" />
				<choice doc:name="Choice" doc:id="bb133dd2-2655-4e60-9166-2a3b8a702e5c">
			<when expression="#[payload[0].EXISTS == false]">
				<ee:transform doc:name="Transform Message" doc:id="8ae2d6f4-34e5-4af1-830c-f4e3462ee5e9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.createdAccount]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<jms:publish doc:name="Publish-stg-created-account" doc:id="9367a127-eb22-4c25-a277-006bb81d4e31" config-ref="JMS_Config" destination="stg-created-account" />
			</when>
					<otherwise>
						<raise-error doc:name="INVALID_ACCOUNT" doc:id="29ec59bd-9e11-4ecb-af6a-a7c2ca1535cb" type="CUSTOM:INVALID_ACCOUNT" description="Conta já existente para o cpf!" />


			</otherwise>
		</choice>
			</when>
			<otherwise>
				<raise-error doc:name="INVALID_ACCOUNT" doc:id="6402dad6-3948-45e8-adc9-cf00f6a6d437" type="CUSTOM:INVALID_ACCOUNT" description="Usuário inexistente!" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate type="CUSTOM:INVALID_ACCOUNT"
				enableNotifications="true" logException="true">
				<logger level="INFO"
					message="Falha na execução da query. Possível conta inexistente."
					doc:name="msg erro custom" />
			</on-error-propagate>
		</error-handler>

	</flow>
	<flow name="implementation-post-created-account-consumer"
		doc:id="8e8069fb-e684-4537-9524-8d5cbe2e6069">
		<set-payload value="#[null]" doc:name="null"
			doc:id="42da8259-dd86-414a-b4cf-300adf20df9f" />
		<remove-variable
			doc:name="Initialize Variable as Null"
			doc:id="69297446-6222-4b29-991d-b089ab5d1bc5"
			variableName="createdAccount" />
		<logger level="INFO" doc:name="Payload"
			doc:id="db2e243c-8021-478e-a681-b1995fead87e" message="#[payload]" />
		<jms:consume doc:name="Consume-stg-created-account"
			doc:id="03882a0c-559f-457a-8009-f5ddd924e030" config-ref="JMS_Config"
			destination="stg-created-account" maximumWait="30000" />
		<logger level="INFO" doc:name="Payload"
			doc:id="df156f9a-a528-4166-a365-2bca32f34b86" message="#[payload]" />
		<set-variable value="#[payload]" doc:name="newAccount"
			doc:id="fc394813-0495-44df-b2dd-993aac3e81e8"
			variableName="newAccount" />
		<logger level="INFO" doc:name="Payload"
			doc:id="1f39f364-0b5b-494e-ba4d-c64c0b866f31" message="#[payload]" />
		<db:insert doc:name="Insert"
			doc:id="c39b822a-4ee1-4033-b7fe-f11de3e6260f"
			config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO mule_account (account_type, user_id, balance) VALUES (:account_type, :user_id, :balance);]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'account_type': vars.newAccount.account_type,
	'user_id': vars.newAccount.user_id,
	'balance': 0.00
}]]]></db:input-parameters>
		</db:insert>
		<db:select doc:name="Select new Account"
			doc:id="37ee06b9-4322-4ee8-94d5-32abf42f6d2b"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT
	u.cpf,
    u.name,
    a.account_number,
    a.digit,
    a.account_type
FROM users u
JOIN mule_account a ON u.user_id = a.user_id   
WHERE u.user_id = :user_id AND a.account_type = :account_type]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	user_id: vars.newAccount.user_id,
	account_type: vars.newAccount.account_type
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message"
			doc:id="cc19ff8d-b298-46ee-84e0-a686c87d32e9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
	"Numero da conta": item.account_number,
	"Digito": item.digit,
	"Tipo da conta": item.account_type,
    "Nome": item.name,
    "cpf": item.cpf		
}	
   ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload"
			doc:id="05177112-83c8-41ab-a81c-ac420ae9e7c8" message="#[payload]" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="627b676d-86bb-45c8-92b7-ea54190d7498" type="ANY">
				<logger level="INFO" doc:name="Error"
					doc:id="7546967f-b02f-49bd-82d0-e91f567ed962" message="#[error]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>