mule/src/main/mule/api/implementation-post-withdraw.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementation-post-withdraw-main"
		doc:id="b06c0ec9-41df-4c13-a5b9-c8dfaddc137d">
		<flow-ref doc:name="Flow Reference"
			doc:id="e47b7078-3788-42b5-8440-f3f5a80a01be"
			name="implementation-post-withdraw" />
		<error-handler>
			<on-error-propagate type="ANY">
				<set-variable variableName="customErrorMessage"
					value="#[error.description]" />
				<logger level="ERROR"
					message="#['Erro encontrado: ' ++ vars.customErrorMessage]" />
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': vars.customErrorMessage default 'Erro desconhecido'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-post-withdraw"
		doc:id="ef69aed8-e7b6-4a93-a98d-48ff7e6ba8f4">
		<flow-ref doc:name="Validate Account Number" doc:id="97e602f7-2d9f-4214-a8b2-5fc5d81928fc" name="validate-account-number"/>
		<db:select doc:name="Select"
			doc:id="1df13ac5-2c16-4e44-8bb0-2999295b9c5f"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT account_id, balance FROM mule_account WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{'account_number': vars.account_number}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload[0]]"
			doc:name="Set Variable" doc:id="980c889c-50e7-42d0-9bdd-a2c99226ebd3"
			variableName="accountId" />
		<logger level="INFO" doc:name="Logger"
			doc:id="a530ff58-39fa-49ac-bd97-1475fad5f524" message="#[payload]" />
		<choice doc:name="Time-based and Balance Limit"
			doc:id="9f6d4579-4571-4d7e-bb05-540e6a8e1fc0">
			<when
				expression="vars.amount &lt;= 1000 or (now().hour &gt;= 6 and now().hour &lt; 22)">
				<choice doc:name="Choice"
					doc:id="46f55cf4-35df-4cdc-ae0b-7c5e6a02506f">
					<when expression="vars.amount &lt;= vars.accountId.balance">
						<flow-ref doc:name="Flow Reference"
							doc:id="c0607100-f0c1-40e9-ab95-cda6e00b767c"
							name="implementation-post-withdraw-insertAndUpdate" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger"
							doc:id="6dae1f8d-4976-4123-a768-d18f3b9a008b" />
						<ee:transform doc:name="Transform Message" doc:id="ada3eb18-23a8-467d-8f72-c995b9ed0848">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Erro ao fazer o saque, valor indisponível"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message"
					doc:id="b147651c-1fb4-42c8-8cfe-c6d26b8b2de1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Erro ao fazer o saque, valor indisponível para o horario. Das 22:00 às 06:00 valore maxímo é 1000.00"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="implementation-post-withdraw-insertAndUpdate"
		doc:id="f7cbdc5c-dea4-41dc-b4e2-9c60e2fec253">
		<db:update doc:name="Update Balance"
			doc:id="3e9544ce-62f0-4bc0-be52-733916df168e"
			config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE mule_account SET balance = balance - :amount WHERE account_id = :account_id
                        ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'amount': vars.amount,
'account_id': vars.accountId.account_id
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger"
			doc:id="82262acf-c74a-4f0e-9a97-b90eb1d451c6" message="#[payload]" />
		<db:insert doc:name="Insert Transaction"
			doc:id="526ef676-a560-451c-83d6-e5f656cb9e5b"
			config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO mule_transaction(account_id, types, amount, date_transaction) VALUES (:account_id, :types, :amount, now())
    ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'account_id': vars.accountId.account_id,
'types': 'WITHDRAWAL',
'amount': vars.amount
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="ac17fc5f-a429-428e-b1a5-7c464ae45692">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Saque realizado com sucesso"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
	</flow>
</mule>
