mule/src/main/mule/api/implementation-post-deposit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="implementation-post-deposit-main"
		doc:id="3f3b10e3-6bb6-4624-938c-408d6fbaa9d0">
		<flow-ref doc:name="Flow Reference"
			doc:id="f0384227-82b0-497e-9ae2-0a1fe2fa0d82"
			name="implementation-post-deposit-publish" />
		<flow-ref doc:name="Flow Reference"
			doc:id="f985d7e0-c60f-4f5f-9d19-4a026775a353"
			name="implementation-post-deposit-consumer" />
		<error-handler>
			<on-error-propagate type="ANY">
				<set-variable variableName="customErrorMessage"
					value="#[error.description]" />
				<logger level="ERROR"
					message="#['Erro encontrado: ' ++ vars.customErrorMessage]" />
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': vars.customErrorMessage default 'Erro desconhecido'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-post-deposit-publish"
		doc:id="82b8bd5f-6387-4dcb-8084-3b3bd462aa10">
		<logger level="INFO" doc:name="Logger"
			message="URI Params: #[attributes.uriParams]" />
		<flow-ref doc:name="Validate Account Number" doc:id="4a716575-31b0-4871-870d-7f6100690762" name="validate-account-number"/>
		<db:select doc:name="Select" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT account_id FROM mule_account WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{'account_number': vars.account_number}]]]></db:input-parameters>
		</db:select>
		<set-variable variableName="accountId"
			value="#[payload[0].account_id]" doc:name="Set Variable" />
		<logger level="INFO" doc:name="Logger"
			message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="dfd7dfea-64ff-417f-9d0d-46d2f762313d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'account_id': vars.accountId,
	'types': 'DEPOSIT',
	'amount': vars.depositValue
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="ff2cc4ba-10ac-4a3b-9080-0eca69c4ea3d" config-ref="JMS_Config" destination="stg-deposit"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8f3cd598-c0e9-43bf-b225-47135faacb62" type="ANY" >
				<logger level="INFO" doc:name="Logger" doc:id="5d94d62e-9f7d-4d27-935c-a68e8b14bb97" message="#[error]" />
			</on-error-continue>
		</error-handler>
	
</flow>
	<flow name="implementation-post-deposit-consumer" doc:id="58134742-ea18-41f2-9ae3-4654c0598171" >
		<set-payload value="#[null]" doc:name="Set Payload" doc:id="34308e2c-88e9-49ee-8af3-18b3871759c4" />
		<logger level="INFO" doc:name="Logger" doc:id="49678529-9a5b-445e-a0e9-fdf9541cc32b" message="#[payload]" />
		<jms:consume doc:name="Consume" doc:id="2b2c8a9d-d565-4ad2-abe2-3bc9d565991a" config-ref="JMS_Config" destination="stg-deposit" maximumWait="30000"/>
		<logger level="INFO" doc:name="Logger" doc:id="272c273c-90d8-4b35-afd5-aa7b83a9ff84" message="#[payload]" />
		<db:insert doc:name="Insert" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO mule_transaction (account_id, types, amount, date_transaction) VALUES (:account_id, :types, :amount, NOW())]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'account_id': payload.account_id,
	'types': payload.types,
	'amount': payload.amount
}]]]></db:input-parameters>
		</db:insert>
		<db:update doc:name="Update balance" config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE mule_account SET balance = balance + :depositAmount WHERE account_id = :accountId]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
output application/json
---
{
    'depositAmount': vars.depositValue,
    'accountId': vars.accountId
}]]]></db:input-parameters>
		</db:update>
		<set-variable variableName="transactionSuccess" value="#[true]" doc:name="Set transactionSuccess" />
		<logger level="DEBUG" message="#[payload]" doc:name="After Insertion" />
		<choice doc:name="Choice" doc:id="19c77201-17f8-4e98-a80c-240844084e1e">
			<when expression="#[vars.transactionSuccess == true]">
				<ee:transform doc:name="Transform Message" doc:id="ca58050a-933c-4977-855e-e583515560eb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "Status": "success",
    "Mensagem": "Depósito realizado com sucesso"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="a31ae47e-8c77-41cd-9512-dbb033d1af8e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "Status": "erro",
    "Mensagem": "O depósito não pôde ser concluído"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			
</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7886e96e-b6c3-43b7-9108-f0ed4f6f2997" type="ANY" >
				<logger level="INFO" doc:name="Logger" doc:id="8a8b4329-df20-4460-9e05-e2117ab2c682" message="#[error]" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
