mule/src/main/mule/api/implementation-post-withdraw.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementation-post-withdraw-main"
		doc:id="b28ba971-5612-4d85-94eb-c550da2ea376">
		<flow-ref doc:name="implementation-post-withdraw"
			doc:id="3d5141dd-277d-4a86-b918-e23be8c09b29"
			name="implementation-post-withdraw" />
		<error-handler>
			<on-error-propagate type="ANY">
				<set-variable variableName="customErrorMessage"
					value="#[error.description]" doc:name="customErrorMessage" />
				<logger level="ERROR"
					message="#['Erro encontrado: ' ++ vars.customErrorMessage]"
					doc:name="CustomErrorMessage" />
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': vars.customErrorMessage default 'Erro desconhecido'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-post-withdraw"
		doc:id="602b5fb6-4164-4a9f-8a24-78e9fa39c20c">
		<flow-ref doc:name="Validate Account Number"
			doc:id="0152a12c-ea96-4125-ab4b-c9e98c36a4e3"
			name="validate-account-number" />
		<flow-ref doc:name="Validate-amount" doc:id="4da99bfd-d509-4eaf-82ec-4729447b8be5" name="validate-amount"/>
		<db:select doc:name="Select account_id end balance"
			doc:id="470518dc-c2dc-40b6-bf23-f8de423d163f"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT account_id, balance FROM mule_account WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{'account_number': vars.account_number}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload[0]]" doc:name="accountId"
			doc:id="3b5f1fd9-d458-445f-bc4a-efbd75bd161f"
			variableName="accountId" />
		<logger level="INFO" doc:name="Payload"
			doc:id="90096d81-065d-4f9c-8350-cf16950d496b" message="#[payload]" />
		<choice doc:name="Time-based and Balance Limit"
			doc:id="e36c2110-24b7-4bd5-9815-0d4d1006f33f">
			<when
				expression="vars.amount &lt;= 1000 or (now().hour &gt;= 6 and now().hour &lt; 22)">
				<choice doc:name="Choice"
					doc:id="9541c541-eaa3-43b4-84bb-307174fb891f">
					<when expression="vars.amount &lt;= vars.accountId.balance">
						<flow-ref
							doc:name="implementation-post-withdraw-insertAndUpdate"
							doc:id="af7c42aa-126a-4530-bd47-337bc3cc5f90"
							name="implementation-post-withdraw-insertAndUpdate" />
					</when>
					<otherwise>
						<ee:transform doc:name="Transform Message"
							doc:id="62d762a3-774b-4831-a49d-fd3312025f94">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Erro ao fazer o saque, valor indisponível"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message"
					doc:id="669c8d38-f465-42df-a358-41d2a6989420">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Erro ao fazer o saque, valor indisponível para o horario. Das 22:00 às 06:00 valore maxímo é 1000.00"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="implementation-post-withdraw-insertAndUpdate"
		doc:id="7346e751-e709-4f70-82f6-685ae3208833">
		<db:update doc:name="Update Balance"
			doc:id="8fd4d559-cf94-4abf-a380-da1235bec166"
			config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE mule_account SET balance = balance - :amount WHERE account_id = :account_id
                        ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'amount': vars.amount,
'account_id': vars.accountId.account_id
}]]]></db:input-parameters>
		</db:update>
		<db:insert doc:name="Insert Transaction"
			doc:id="58756278-53f3-4cb9-a6f1-baf8e173f90b"
			config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO mule_transaction(account_id, types, amount, date_transaction) VALUES (:account_id, :types, :amount, now())
    ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'account_id': vars.accountId.account_id,
'types': 'WITHDRAWAL',
'amount': vars.amount
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Payload"
			doc:id="267850ed-6ca0-4ab7-877f-334cd27d12d2" message="#[payload]" />
		<ee:transform doc:name="Transform Message"
			doc:id="fe8a75c1-1386-4e6c-9678-a62a9d9cf22e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Saque realizado com sucesso"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>