bank-mule/src/main/mule/api/implementation-post-withdraw.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="implementation-post-withdraw-main"
		doc:id="b28ba971-5612-4d85-94eb-c550da2ea376">
		<flow-ref doc:name="implementation-post-withdraw"
			doc:id="3d5141dd-277d-4a86-b918-e23be8c09b29"
			name="implementation-post-withdraw" />
		<flow-ref doc:name="implementation-post-withdraw-insertAndUpdate" doc:id="389128a4-2ca3-4758-8611-0ebb755aeade" name="implementation-post-withdraw-insertAndUpdate"/>
		<error-handler>
			<on-error-propagate type="ANY">
				<set-variable variableName="customErrorMessage"
					value="#[error.description]" doc:name="customErrorMessage" />
				<logger level="ERROR"
					message="#['Erro encontrado: ' ++ vars.customErrorMessage]"
					doc:name="CustomErrorMessage" />
				<ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': vars.customErrorMessage default 'Erro desconhecido'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-post-withdraw"
		doc:id="602b5fb6-4164-4a9f-8a24-78e9fa39c20c">
		<logger level="INFO" doc:name="Logger" doc:id="ee5fa0ad-df35-43d5-b30a-91db1aaa6928" message="#[payload]" />
		<flow-ref doc:name="Validate Account Number"
			doc:id="0152a12c-ea96-4125-ab4b-c9e98c36a4e3"
			name="validate-account-number" />
		<flow-ref doc:name="Validate-amount" doc:id="4da99bfd-d509-4eaf-82ec-4729447b8be5" name="validate-amount"/>
		<logger level="INFO" doc:name="Logger" doc:id="ce4e0a21-146e-4923-a362-9f6cd3caa360" message="#[payload]"/>
		<db:select doc:name="Select account_id end balance"
			doc:id="470518dc-c2dc-40b6-bf23-f8de423d163f"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT account_id, balance FROM mule_accounts WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{'account_number': vars.account_number}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload[0]]" doc:name="accountId"
			doc:id="3b5f1fd9-d458-445f-bc4a-efbd75bd161f"
			variableName="accountId" />
		<logger level="INFO" doc:name="Payload"
			doc:id="90096d81-065d-4f9c-8350-cf16950d496b" message="#[payload]" />
		<choice doc:name="Time-based and Balance Limit"
			doc:id="e36c2110-24b7-4bd5-9815-0d4d1006f33f">
			<when
				expression="vars.amount &lt;= 1000 or (now().hour &gt;= 6 and now().hour &lt; 22)">
				<choice doc:name="Choice"
					doc:id="9541c541-eaa3-43b4-84bb-307174fb891f">
					<when expression="vars.amount &lt;= vars.accountId.balance">
						<ee:transform doc:name="Transform Message" doc:id="b184a1e1-ce87-49a6-8827-0fb23beedbf0">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	'amount': vars.amount,
	'account_id': vars.accountId.account_id,
	'account_type': vars.account_type,
	'account_number': vars.account_number,
	'digit': vars.digit
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<vm:publish doc:name="Publish stg-withdraw" doc:id="7b00991a-629b-4f3d-86d6-77b631799b0b" queueName="stg-withdraw" config-ref="VM_Config"/>
					
</when>
					<otherwise>
						<ee:transform doc:name="Transform Message"
							doc:id="62d762a3-774b-4831-a49d-fd3312025f94">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Erro ao fazer o saque, valor indisponível"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message"
					doc:id="669c8d38-f465-42df-a358-41d2a6989420">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Erro ao fazer o saque, valor indisponível para o horario. Das 22:00 às 06:00 valore maxímo é 1000.00"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	
</flow>
	<flow name="implementation-post-withdraw-insertAndUpdate"
		doc:id="7346e751-e709-4f70-82f6-685ae3208833">
		<set-payload value="#[null]" doc:name="Set Payload" doc:id="c859e79c-6cde-4ac3-972c-371497a1a1cf" />
		<logger level="INFO" doc:name="payload" doc:id="0b090a18-5047-4bbb-be84-7ca83719d4ca" message="#[payload]"/>
		<vm:consume queueName="stg-withdraw" doc:name="Consume stg-withdraw" doc:id="af5e5fbf-9372-4b87-b087-f7c5e167bf35" config-ref="VM_Config"/>
		<set-variable value="#[payload]" doc:name="setWithdraw" doc:id="73fc5969-7029-44b7-8a15-a81b91d23a8a" variableName="setWithdraw"/>
		<logger level="INFO" doc:name="Logger" doc:id="f565cf38-8f05-4a6c-a12e-b8a6942ec344" message="#[payload]"/>
		<db:update doc:name="Update Balance"
			doc:id="8fd4d559-cf94-4abf-a380-da1235bec166"
			config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE mule_accounts
SET 
    balance = balance - :amount
WHERE 
    account_number = :account_number AND
    digit = :digit AND
    account_type = :account_type AND
    balance >= :amount;
                        ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'amount': vars.setWithdraw.amount,
'account_number': vars.setWithdraw.account_number,
'digit': vars.setWithdraw.digit,
'account_type': vars.setWithdraw.account_type
}]]]></db:input-parameters>
		</db:update>
		<db:insert doc:name="Insert Transactions"
			doc:id="58756278-53f3-4cb9-a6f1-baf8e173f90b"
			config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO mule_transactions
(account_id, types, amount, date_transaction)
VALUES
(:account_id, :types, :amount, now())
    ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'account_id': vars.setWithdraw.account_id,
'types': 'WITHDRAWAL',
'amount': vars.setWithdraw.amount
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Payload"
			doc:id="267850ed-6ca0-4ab7-877f-334cd27d12d2" message="#[payload]" />
		<ee:transform doc:name="Transform Message"
			doc:id="fe8a75c1-1386-4e6c-9678-a62a9d9cf22e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Mensagem": "Saque realizado com sucesso"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>