mule/src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="9f16b284-747f-4c19-98f4-169f0493c8c6">
		<db:generic-connection
			url="jdbc:postgresql://localhost:5432/banco_mule"
			driverClassName="org.postgresql.Driver" user="postgres"
			password="postgres" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config"
		doc:id="52e92226-a113-4a8e-a535-28d07a051210">
		<file:connection
			workingDir="D:\WORKSPACE\MULE\USE CASE\data-csv" />
	</file:config>
	<jms:config name="JMS_Config" doc:name="JMS Config"
		doc:id="da9e9f86-bda7-4e60-acb2-576c35f8f40c">
		<jms:active-mq-connection username="admin">
			<jms:factory-configuration
				brokerUrl="tcp://localhost:61616/" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="batchJobFlow-Publish">
		<scheduler doc:name="Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="1" timeUnit="DAYS" />
			</scheduling-strategy>
		</scheduler>
		<set-variable
			value='#[(now() - |P1D|) as String {format: "yyyy-MM-dd"}]'
			doc:name="Set Variable" doc:id="0406b644-9e1e-428c-ac56-02da45bfdac7"
			variableName="date" />
		<db:select config-ref="Database_Config"
			doc:name="Select from mule_transaction">
			<db:sql><![CDATA[SELECT 
    t.*,
    a.account_number
 FROM mule_transaction t 
    JOIN mule_account a
    ON t.account_id = a.account_id
    WHERE DATE(date_transaction) = :yesterday]]></db:sql>
			<db:input-parameters><![CDATA[#[{
   'yesterday' : vars.date
}]]]></db:input-parameters>

		</db:select>
		<set-payload value="#[payload as Array]"
			doc:name="Transform to Array" />
		<ee:transform doc:name="Transform Message" doc:id="ce85d469-b38b-40f3-a67d-2ce3d01e2b9b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (transaction) -> {
    transaction_id: transaction.transaction_id,
    account_id: transaction.account_id,
    account_number: transaction.account_number,
    types: transaction.types,
    amount: transaction.amount,   
    date: transaction.date_transaction as String {format: "dd-MM-yyyy"},
	hour: transaction.date_transaction as String {format: "HH:mm:ss"}   

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="1f26200b-5a73-4f20-9f89-8e3667120d9a" config-ref="JMS_Config" destination="stg-report"/>
		<flow-ref doc:name="Flow Reference" doc:id="904ec78b-41ee-464d-9a37-d66f0c7ad4c6" name="batchJobFlow-Cosumer"/>
		<error-handler>
			<on-error-continue type="ANY"
				enableNotifications="true" logException="true">
				<logger level="INFO" doc:name="Logger" message='#[error]' />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="batchJobFlow-Cosumer" doc:id="53c2a76b-4f2c-4bd5-83e1-990bc98c5453" >
		<set-payload value="#[null]" doc:name="Set Payload" doc:id="6d20e45b-31ca-4aba-b782-782e2273e45e" />
		<logger level="INFO" doc:name="Logger" doc:id="c1e7ca51-2c54-4d75-884c-432f2e328b6c" message="payload"/>
		<jms:consume doc:name="Consume" doc:id="0c33fc34-300f-44ca-9d56-e5844a501f6c" config-ref="JMS_Config" destination="stg-report" maximumWait="30000"/>
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
		<choice doc:name="Choice" doc:id="bfc943c2-54d2-4c20-9872-853523aac581">
			<when expression="sizeOf(payload) &gt; 0">
				<ee:transform doc:name="Transform to CSV" doc:id="547d0338-84de-44cf-91ac-916c32f57d36">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv

---
payload map (transaction) -> {
	"ID da transação": transaction.transaction_id,
    "ID da Conta": transaction.account_id,
    "Numero da conta" : transaction.account_number,
    "Tipo de transação": transaction.types,
    "Valor": ("R\$ " as String) ++ (transaction.amount as String),   
    "Data": transaction.date,
	"Horas": transaction.hour    
}
]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="3b95dd6a-078d-45c2-b0b3-476151622828" config-ref="File_Config" path='#["D:/WORKSPACE/MULE/USE CASE/data-csv/transaction_" ++ ((now() - |P1D|) as String {format: "dd-MM-yyyy"}) ++ ".csv"]' />
				<logger level="INFO" doc:name="Logger" message="#[payload]" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="14f7834a-ec56-434d-8330-8f2738e2dc2d" message="Não houve transação no dia anterior!" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2fa0d6c8-bd27-4aae-b3a0-302b57158d13" type="ANY" >
				<logger level="INFO" doc:name="Logger" doc:id="22f3ea56-7670-4bd1-844d-765c8632db40" message='#[error]' />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="validate-account-number"
		doc:id="189f38d5-b6ea-4ed9-b67f-d96ea2708c6e">
		<logger level="INFO" doc:name="Logger"
			doc:id="accca30e-035d-465f-9e46-66bfe8fed334" message="#[payload]" />
		<db:select doc:name="Select"
			doc:id="53012948-3a1d-4be1-9226-4e59c81c6eb1"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM mule_account WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'account_number': vars.account_number
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload as Array]"
			doc:name="Set Payload" doc:id="e9e788b5-799e-480a-ac6b-6ca9bfb104d1" />
		<logger level="INFO" doc:name="Logger" doc:id="82fcf069-b483-43a5-bc1c-e70d534e3fb4" message="#[payload]"/>
		<choice doc:name="Choice"
			doc:id="83f560ae-27e5-46f0-9a5e-94cde287a7d1">
			<when expression="#[sizeOf(payload) &gt; 0]">
				<db:select doc:name="Select Account Number"
					doc:id="bff436b4-65a0-4bf7-be82-1e7d17b9d484"
					config-ref="Database_Config">
					<db:sql><![CDATA[SELECT * FROM mule_account where account_number = :account_number]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	account_number: vars.account_number
}]]]></db:input-parameters>
				</db:select>
				<set-variable value="payload" doc:name="Set Variable"
					doc:id="68f1a443-6468-4734-b573-264450fe3cfa"
					variableName="getBalance" />
				<ee:transform doc:name="Transform Message"
					doc:id="0dc57376-a4e6-4298-9e2b-746a640e129b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
	"Data": now() as String {format: "dd-MM-yyyy"},
	"Horas": now() as String {format: "HH:mm:ss"},    
	"Numero da conta": item.account_number,
    "Nome": item.name,
    "Saldo": item.balance		
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error"
					doc:id="a2bd4a0f-5b87-4628-8bba-93483cfb9bb3"
					type="CUSTOM:INVALID_ACCOUNT"
					description="Número da conta inválido!" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="30921e8d-c0bd-4bd3-b62f-adce005a3ae9"
				type="CUSTOM:INVALID_ACCOUNT">
				<logger level="ERROR" doc:name="Logger"
					doc:id="129d2046-efea-44cb-a0e6-361361aa74a4" message="#[error]" />
				<set-variable value="404" doc:name="Set HTTP Status"
					variableName="httpStatus" />
				<ee:transform doc:name="Transform Message"
					doc:id="7eaf614d-c86a-4c6c-8f78-f9efaf473512">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': 'Verifique o numero da conta.'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>