mule/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<flow name="use-case-mule-main">
		<http:listener
			path="/mule/*" config-ref="httpListenerConfig">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="use-case-mule-config"/>
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="use-case-mule-console">
		<http:listener
			path="/console/*" config-ref="httpListenerConfig">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="use-case-mule-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\accounts">
		<ee:transform doc:name="Transform Message" doc:id="c831548f-11df-4164-9915-07b4d78ddeab" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="page" ><![CDATA[attributes.queryParams.page]]></ee:set-variable>
				<ee:set-variable variableName="size" ><![CDATA[attributes.queryParams.size]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="implementation-get-accounts-main"
			doc:id="3e2a7786-5aec-4824-a974-d00b062cbe7e"
			name="implementation-get-accounts-main" />
	</flow>
	<flow name="post:\accounts">
		<flow-ref doc:name="implementation-post-created-account-main"
			doc:id="70339d50-3602-4575-a3d3-18075c5f21f1"
			name="implementation-post-created-account-main" />
	</flow>
	<flow name="post:\accounts\(account_number)\deposit">
		<ee:transform
			doc:name="Extract accountId and deposit value">
			<ee:variables>
				<ee:set-variable variableName="depositValue"><![CDATA[payload.amount]]></ee:set-variable>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="implementation-post-deposit-main"
			doc:id="db8a60b8-5936-4513-9dd3-79b46494aa74"
			name="implementation-post-deposit-main" />
	</flow>
	<flow name="get:\accounts\(account_number)\balance">
		<ee:transform doc:name="Extract accountId">
			<ee:variables>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number'
				]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="implementation-get-balance-main"
			doc:id="a1f0ceda-e7d5-42c6-a613-355d7419c5ed"
			name="implementation-get-balance-main" />
	</flow>
	<flow name="get:\accounts\(account_number)\history">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number'
				]]></ee:set-variable>
				<ee:set-variable variableName="startDate" ><![CDATA[(attributes.queryParams.startDate default now() - |P30D|) as String {format: 'yyyy-MM-dd'}]]></ee:set-variable>
				<ee:set-variable variableName="endDate" ><![CDATA[(attributes.queryParams.endDate default now()) as String {format: 'yyyy-MM-dd'}]]></ee:set-variable>
				<ee:set-variable variableName="startDateComponents" ><![CDATA[vars.startDate splitBy '-']]></ee:set-variable>
				<ee:set-variable variableName="currentMonth" ><![CDATA[vars.startDateComponents[1]]]></ee:set-variable>
				<ee:set-variable variableName="currentYear" ><![CDATA[vars.startDateComponents[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="implementation-get-history-main"
			doc:id="12e7cb32-5cc4-4ed4-bf2d-4400a1729d1a"
			name="implementation-get-history-main" />
	</flow>
	<flow name="post:\accounts\(account_number)\withdraw">
		<ee:transform doc:name="Retrieve Parameters">
			<ee:variables>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number'
				]]></ee:set-variable>
				<ee:set-variable variableName="amount"><![CDATA[payload.amount
				]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="implementation-post-withdraw-main"
			doc:id="6ebc47bf-2bf6-47df-8b0c-3d6f08c3b910"
			name="implementation-post-withdraw-main" />
	</flow>
	<flow
		name="post:\accounts\transfer\from\(from_account_number)\to\(to_account_number)"
		initialState="started">
		<ee:transform doc:name="Transform Message"
			doc:id="11b9ee32-dcf4-4c2e-a4a8-7edbdd39dd07">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="to_account_number">#[attributes.uriParams.'to_account_number']
				</ee:set-variable>
				<ee:set-variable variableName="from_account_number">#[attributes.uriParams.'from_account_number']
				</ee:set-variable>
				<ee:set-variable variableName="amount">#[payload.amount]
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="implementation-post-transfer-main"
			doc:id="7ebfd7f9-9714-44f4-93ed-fcb25ae3117a"
			name="implementation-post-transfer-main" />
	</flow>
	<flow name="get:\health-check">
		<flow-ref doc:name="Get Health Check"
			doc:id="18771df1-0882-4dd0-8244-416fe666cf19"
			name="implementation-health-check-main" />
	</flow>
</mule>