mule/src/main/mule/ultils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="b4356a63-43e8-4621-be69-c4166439a7ca">
		<db:generic-connection
			url="jdbc:postgresql://localhost:5432/banco_mule"
			driverClassName="org.postgresql.Driver" user="postgres"
			password="postgres" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="6ebfc463-4abf-4e5d-9c9e-a3c0af0c338c" >
		<file:connection workingDir="D:\WORKSPACE\MULE\USE CASE\data-csv" />
	</file:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="979b9763-4cab-42da-903f-92c852d58117" >
		<jms:active-mq-connection username="admin">
			<jms:factory-configuration brokerUrl="tcp://localhost:61616/" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="batchJobFlow">
		<scheduler doc:name="Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="1" timeUnit="DAYS" />
			</scheduling-strategy>
		</scheduler>
		<set-variable
			value='#[(now() - |P1D|) as String {format: "yyyy-MM-dd"}]'
			doc:name="Set Variable" doc:id="4c0c2365-f76d-4987-9186-5f8fbf9223e4"
			variableName="date" />
		<db:select config-ref="Database_Config"
			doc:name="Select from mule_transaction">
			<db:sql><![CDATA[SELECT * FROM mule_transaction WHERE DATE(date_transaction) = :yesterday]]></db:sql>
			<db:input-parameters><![CDATA[#[{
   'yesterday' : vars.date
}]]]></db:input-parameters>

		</db:select>
		<logger level="INFO" doc:name="Logger"
			doc:id="2593f9a5-fc18-442a-9eeb-da5978a03b26" message="#[payload]" />
		<ee:transform doc:name="Transform to CSV">
			<ee:message>
				<ee:set-payload><![CDATA[
%dw 2.0
output application/csv
---
payload map (transaction) -> {
    "Transaction ID": transaction.transaction_id,
    "Account ID": transaction.account_id,
    "Type": transaction.types,
    "Amount": transaction.amount,
    "Date": transaction.date_transaction
}
                ]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
	 <file:write doc:name="Write" doc:id="0b8553b8-43ef-46c8-97b6-472dc68a3bd7" config-ref="File_Config" path="D:\WORKSPACE\MULE\USE CASE\data-csv\test.csv"/>
	<logger level="INFO" doc:name="Logger" message="#[payload]"/>
	</flow>
</mule>
