mule/src/main/mule/ultils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="b4356a63-43e8-4621-be69-c4166439a7ca">
		<db:generic-connection
			url="jdbc:postgresql://localhost:5432/banco_mule"
			driverClassName="org.postgresql.Driver" user="postgres"
			password="postgres" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config"
		doc:id="6ebfc463-4abf-4e5d-9c9e-a3c0af0c338c">
		<file:connection
			workingDir="D:\WORKSPACE\MULE\USE CASE\data-csv" />
	</file:config>
	<jms:config name="JMS_Config" doc:name="JMS Config"
		doc:id="979b9763-4cab-42da-903f-92c852d58117">
		<jms:active-mq-connection username="admin">
			<jms:factory-configuration
				brokerUrl="tcp://localhost:61616/" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="batchJobFlow-Publish">
		<scheduler doc:name="Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="1" timeUnit="DAYS" />
			</scheduling-strategy>
		</scheduler>
		<set-variable
			value='#[(now() - |P1D|) as String {format: "yyyy-MM-dd"}]'
			doc:name="Set Variable" doc:id="4c0c2365-f76d-4987-9186-5f8fbf9223e4"
			variableName="date" />
		<db:select config-ref="Database_Config"
			doc:name="Select from mule_transaction">
			<db:sql><![CDATA[SELECT 
    t.*,
    a.account_number
 FROM mule_transaction t 
    JOIN mule_account a
    ON t.account_id = a.account_id
    WHERE DATE(date_transaction) = :yesterday]]></db:sql>
			<db:input-parameters><![CDATA[#[{
   'yesterday' : vars.date
}]]]></db:input-parameters>

		</db:select>
		<set-payload value="#[payload as Array]"
			doc:name="Transform to Array" />
		<ee:transform doc:name="Transform Message" doc:id="4f3faa79-61a1-4be0-b279-3b83ac0949fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (transaction) -> {
    transaction_id: transaction.transaction_id,
    account_id: transaction.account_id,
    account_number: transaction.account_number,
    types: transaction.types,
    amount: transaction.amount,   
    date: transaction.date_transaction as String {format: "dd-MM-yyyy"},
	hour: transaction.date_transaction as String {format: "HH:mm:ss"}   

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="97045763-4948-49c6-88c2-daef9a531e01" config-ref="JMS_Config" destination="stg-report"/>
		<flow-ref doc:name="Flow Reference" doc:id="fdd4f985-b36c-46eb-8b46-68870c46d4df" name="batchJobFlow-Cosumer"/>
		<error-handler>
			<on-error-continue type="ANY"
				enableNotifications="true" logException="true">
				<logger level="INFO" doc:name="Logger" message='#[error]' />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="batchJobFlow-Cosumer" doc:id="25fe9f22-03e1-46ce-95ec-c12da4439c5d" >
		<set-payload value="#[null]" doc:name="Set Payload" doc:id="9f83534b-12f7-4606-9d84-786170014814" />
		<logger level="INFO" doc:name="Logger" doc:id="2697cea0-44d2-4476-aeff-8c9e3d604f59" message="payload"/>
		<jms:consume doc:name="Consume" doc:id="fcec5bd2-b67d-43a3-ba6f-ecb5fc9c360c" config-ref="JMS_Config" destination="stg-report" maximumWait="30000"/>
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
		<choice doc:name="Choice" doc:id="9164ebad-595f-4b73-94ba-7fb6e3e895af">
			<when expression="sizeOf(payload) &gt; 0">
				<ee:transform doc:name="Transform to CSV" doc:id="eeb16542-d97e-437f-9e37-3babcacbf866">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv

---
payload map (transaction) -> {
	"ID da transação": transaction.transaction_id,
    "ID da Conta": transaction.account_id,
    "Numero da conta" : transaction.account_number,
    "Tipo de transação": transaction.types,
    "Valor": ("R\$ " as String) ++ (transaction.amount as String),   
    "Data": transaction.date,
	"Horas": transaction.hour    
}
]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="0b8553b8-43ef-46c8-97b6-472dc68a3bd7" config-ref="File_Config" path='#["D:/WORKSPACE/MULE/USE CASE/data-csv/transaction_" ++ ((now() - |P1D|) as String {format: "dd-MM-yyyy"}) ++ ".csv"]' />
				<logger level="INFO" doc:name="Logger" message="#[payload]" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="7418fdad-1267-452b-a7d8-c6671d0c46b1" message="Não houve transação no dia anterior!" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="43599a23-dd5c-4189-85d8-ad14e7359d80" type="ANY" >
				<logger level="INFO" doc:name="Logger" doc:id="9acb9e85-d031-4452-864f-33970b633001" message='#[error]' />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="validate-account-number"
		doc:id="b1fa3776-b387-4b20-be9d-1299dd67ea43">
		<logger level="INFO" doc:name="Logger"
			doc:id="5c2ca62a-255d-418f-8237-c52a59d253d2" message="#[payload]" />
		<db:select doc:name="Select"
			doc:id="88618dec-fe28-486e-8f9e-d2662be678b1"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM mule_account WHERE account_number = :account_number]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'account_number': vars.account_number
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload as Array]"
			doc:name="Set Payload" doc:id="57b966a9-41eb-45e9-a532-26ab78052ba9" />
		<logger level="INFO" doc:name="Logger" doc:id="12728cc5-1a79-4327-8cfa-f3fb8c343243" message="#[payload]"/>
		<choice doc:name="Choice"
			doc:id="f4cbfe4b-9e96-4b31-a7fd-8f06072bb060">
			<when expression="#[sizeOf(payload) &gt; 0]">
				<db:select doc:name="Select Account Number"
					doc:id="dbb17ecb-d87d-41d3-97af-83321d71e5ed"
					config-ref="Database_Config">
					<db:sql><![CDATA[SELECT * FROM mule_account where account_number = :account_number]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	account_number: vars.account_number
}]]]></db:input-parameters>
				</db:select>
				<set-variable value="payload" doc:name="Set Variable"
					doc:id="9f7b7161-5199-4805-baed-dabba704f1e3"
					variableName="getBalance" />
				<ee:transform doc:name="Transform Message"
					doc:id="fadb2bb9-e103-4cc2-b542-604997108486">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
	"Data": now() as String {format: "dd-MM-yyyy"},
	"Horas": now() as String {format: "HH:mm:ss"},    
	"Numero da conta": item.account_number,
    "Nome": item.name,
    "Saldo": item.balance		
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error"
					doc:id="6ecb1078-ba31-4ea3-871c-70929e55333c"
					type="CUSTOM:INVALID_ACCOUNT"
					description="Número da conta inválido!" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="9b7647c8-3392-4b81-863e-0b0f497b0a6b"
				type="CUSTOM:INVALID_ACCOUNT">
				<logger level="ERROR" doc:name="Logger"
					doc:id="1041ac46-ac5e-46a6-815e-f8f569077482" message="#[error]" />
				<set-variable value="404" doc:name="Set HTTP Status"
					variableName="httpStatus" />
				<ee:transform doc:name="Transform Message"
					doc:id="a108ed29-1585-4048-b6cb-823715c482e4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    'Mensagem': 'Verifique o numero da conta.'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
