mule/src/main/mule/use-case-mule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config
		name="use-case-mule-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<apikit:config name="use-case-mule-config"
		api="resource::e8af90f8-c409-49df-a9f9-428fe20ea1e2:use-case-mule:1.0.15:raml:zip:use-case-mule.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<flow name="use-case-mule-main">
		<http:listener
			config-ref="use-case-mule-httpListenerConfig" path="/mule/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="use-case-mule-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="use-case-mule-console">
		<http:listener
			config-ref="use-case-mule-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="use-case-mule-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\accounts">
		<ee:transform doc:name="Transform Message" doc:id="352befe0-0ac2-49ab-98ef-f3a3ea142106" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="page" ><![CDATA[attributes.queryParams.page]]></ee:set-variable>
				<ee:set-variable variableName="size" ><![CDATA[attributes.queryParams.size]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference"
			doc:id="32077b63-cc96-4e53-9004-fe3d3a292963"
			name="implementation-get-accounts-main" />
	</flow>
	<flow name="post:\accounts">
		<flow-ref doc:name="Flow Reference"
			doc:id="50d76039-f0b7-4933-8561-2b4c7809eea4"
			name="implementation-post-created-account-main" />
	</flow>
	<flow name="post:\accounts\(account_number)\deposit">
		<ee:transform
			doc:name="Extract accountId and deposit value">
			<ee:variables>
				<ee:set-variable variableName="depositValue"><![CDATA[payload.amount]]></ee:set-variable>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference"
			doc:id="9334c1e5-ef32-48aa-972d-a8fd5bc1320d"
			name="implementation-post-deposit-main" />
	</flow>
	<flow name="get:\accounts\(account_number)\balance">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number'
				]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference"
			doc:id="b7071196-bcda-49a0-85be-dcfb2a1989e8"
			name="implementation-get-balance-main" />
	</flow>
	<flow name="get:\accounts\(account_number)\history">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number'
				]]></ee:set-variable>
				<ee:set-variable variableName="startDate" ><![CDATA[(attributes.queryParams.startDate default now() - |P1M|) as String {format: 'yyyy-MM-dd'}]]></ee:set-variable>
				<ee:set-variable variableName="endDate" ><![CDATA[(attributes.queryParams.endDate default now()) as String {format: 'yyyy-MM-dd'}]]></ee:set-variable>
				<ee:set-variable variableName="startDateComponents" ><![CDATA[vars.startDate splitBy '-']]></ee:set-variable>
				<ee:set-variable variableName="currentMonth" ><![CDATA[vars.startDateComponents[1]]]></ee:set-variable>
				<ee:set-variable variableName="currentYear" ><![CDATA[vars.startDateComponents[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>


		<logger level="INFO" doc:name="Logger"
			doc:id="9abc6120-27e2-49e5-80f7-ce06225fcd9d"
			message="#['Start Date: ' ++ vars.startDate ++ ', End Date: ' ++ vars.endDate]" />
		<flow-ref doc:name="Flow Reference"
			doc:id="1908854c-9da2-4b53-9214-a3539d90325b"
			name="implementation-get-history-main" />
	</flow>
	<flow name="post:\accounts\(account_number)\withdraw">
		<ee:transform doc:name="Retrieve Parameters">
			<ee:variables>
				<ee:set-variable variableName="account_number"><![CDATA[attributes.uriParams.'account_number'
				]]></ee:set-variable>
				<ee:set-variable variableName="amount"><![CDATA[payload.amount
				]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference"
			doc:id="99426675-b3c4-4520-9bfc-4252d4c38e43"
			name="implementation-post-withdraw-main" />
	</flow>
	<flow
		name="post:\accounts\transfer\from\(from_account_number)\to\(to_account_number)"
		initialState="started">
		<ee:transform doc:name="Transform Message"
			doc:id="351c25dc-0ca0-4f0a-95db-f91f7d992e85">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="to_account_number">#[attributes.uriParams.'to_account_number']
				</ee:set-variable>
				<ee:set-variable variableName="from_account_number">#[attributes.uriParams.'from_account_number']
				</ee:set-variable>
				<ee:set-variable variableName="amount">#[payload.amount]
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference"
			doc:id="7ac3ec36-0cc9-4ca6-b274-78fb8e33b603"
			name="implementation-post-transfer-main" />
	</flow>
	<flow name="get:\health-check">
		<flow-ref doc:name="Get Health Check"
			doc:id="8e4d2d80-754f-4d8d-bf36-6eb04174518c"
			name="implementation-health-check-main" />
	</flow>
</mule>
